*{
  box-sizing:border-box;
}

body{
  margin:0;
  font-family:Arial, sans-serif;
  background:#020617;
  overflow:hidden;
}

/* PARTICLE */
#particles-js{
  position:fixed;
  width:100%;
  height:100%;
  z-index:-1;
}

/* MUSIC BUTTON */
.music-btn{
  position:fixed;
  top:20px;
  right:20px;
  background:#38bdf8;
  border:none;
  padding:12px;
  border-radius:50%;
  cursor:pointer;
  z-index:10;
}

/* CARD */
.card{
  width:330px;
  background:#020617;
  padding:25px;
  border-radius:20px;
  color:white;
  text-align:center;
  margin:auto;
  margin-top:80px;
  box-shadow:0 20px 50px rgba(0,0,0,.8);
  animation:cardIn 1s ease;
}

@keyframes cardIn{
  from{opacity:0;transform:scale(.8) translateY(40px);}
  to{opacity:1;transform:scale(1) translateY(0);}
}

.avatar{
  width:90px;
  height:90px;
  border-radius:50%;
  border:3px solid #38bdf8;
}

.bio{
  color:#94a3b8;
  font-size:14px;
}

/* BUTTON */
.btn{
  position:relative;
  overflow:hidden;
  display:flex;
  align-items:center;
  gap:12px;
  padding:12px 16px;
  margin:10px 0;
  border-radius:14px;
  font-weight:bold;
  cursor:pointer;
  transition:.3s;
}

.btn span{
  flex:1;
  text-align:left;
}

.btn:hover{
  transform:translateY(-6px) scale(1.03);
}

/* COLORS */
.wa{background:#25D366;}
.ig{background:#E1306C;}
.dc{background:#5865F2;}
.tt{background:#000;}

/* RIPPLE */
.ripple-circle{
  position:absolute;
  width:20px;
  height:20px;
  background:rgba(255,255,255,.6);
  border-radius:50%;
  transform:translate(-50%,-50%);
  animation:ripple .6s linear;
}

@keyframes ripple{
  to{
    width:300px;
    height:300px;
    opacity:0;
  }
}
